{
	email {$CADDY_EMAIL}
}

{$DOMAIN:portfolio-garnier.fr} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
	}

	@frontend {
		not path /api/* /uploads/*
	}
	header @frontend {
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
	}

	@api path /api/*
	reverse_proxy @api backend:8080

	@uploads path /uploads/*
	reverse_proxy @uploads backend:8080

	reverse_proxy frontend:80
}
