<header id="top" class="navigation">
    <nav class="navigation__content" aria-label="Navigation principale">
        <div class="navigation__links">
            <a href="/">Accueil</a>
            <a href="/projects">Projets</a>
            <a href="/contact">Contact</a>
            <a class="navigation__admin" href="/admin/login">Admin</a>
            <ThemeToggle />
        </div>
    </nav>
</header>
